/* prevent stack-loading on the first title page help from: https://stackoverflow.com/a/53807786/10012842 */
html,
body,
#fullpage,
.section,
.slide,
.fp-tableCell
{
    height: 100%
}


body {
    padding-top: 40px;
    font-family: "Avenir";
}

.section{
    text-align:center;
    padding-left:4%;
    padding-right:4%;
    padding-bottom: 3%;
}
.tooltip {
    position: absolute;
    text-align: center;
    width: 200px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border-radius: 8px;
    /*  pointer-events: none;	This line needs to be removed */
}

.table {
    font-size: 0.7em;
}

.h7, h7{
    font-size: 12px;
}

.axis{
    font-size: 6px;
}

#time-boxes {
    width: 100%;
    height: 90px;
    white-space: nowrap;
    overflow-x: auto;
}

.child {
    display: inline-block;
    width: 5%;
    height: 50%;
}


#header{
    height: 100%;
    background-image: url("https://64.media.tumblr.com/36d8d3e575d8b4f23549d1a4c7383278/73e1f7484c97dd06-cf/s400x600/3dc68c7134d23c9361842f43bb8c8277e2e63b9b.gifv");
    font-size: 40px;
    padding-top: 30vh;
    padding-right: 20vh;
    padding-left: 20vh;
    text-align: center;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    color: black;
}

#header2{
    height: 100%;
    background-image: url("https://64.media.tumblr.com/36d8d3e575d8b4f23549d1a4c7383278/73e1f7484c97dd06-cf/s400x600/3dc68c7134d23c9361842f43bb8c8277e2e63b9b.gifv");
    font-size: 40px;
    padding-top: 30vh;
    padding-right: 20vh;
    padding-left: 20vh;
    text-align: center;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    color: black;
}
#section0{
    height: 100%;
    padding-top: 30vh;
    padding-right: 20vh;
    padding-left: 20vh;
    background-color: black;
    color: #D3D3D3;
}
#section1{
    height:100%;
    padding-top: 2%;
}

#section2{
    height: 100%;
    padding-top: 30vh;
    background-color: black;
    background-image: url("https://i.pinimg.com/originals/62/05/f5/6205f5b7e065b35b921b9a58561107b6.gif");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    color: #D3D3D3;
    padding-right: 20vh;
    padding-left: 20vh;
}
#section3{
    height:120%;
    padding-bottom: 20%;
}
#section4{
    height: 100%;
    padding-top: 30vh;
    padding-right: 20vh;
    padding-left: 20vh;
    background-color: black;
    color: #D3D3D3;
}
#section5{
    height: 100%;
}
#section6{
    height: 100%;
    padding-top: 30vh;
    padding-right: 20vh;
    padding-left: 20vh;
    background-image: url("https://64.media.tumblr.com/975789dd7f69009642523ef80bc340b3/tumblr_pijex9cd631uzwgsuo1_400.gifv");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    color: #D3D3D3;
}

#section7{
    height: 100%;
    padding-top: 30vh;
    padding-right: 20vh;
    padding-left: 20vh;
    background-color: black;
    color: #D3D3D3;
}

#section9{
    height: 100%;
    padding-top: 30vh;
    padding-right: 20vh;
    padding-left: 20vh;
    background-color: black;
    color: #D3D3D3;
}

#section8{
    height: 100%;
    padding-top: 10vh;
}

#barvis{
    height:500px;
}

#countvis{
    height:500px;
}

#sankeyvis{
    height: 750px;
    margin-top: 50px;
}

#clustervis{
    height: 500px;
    border: 1px solid;
}

#spidervis{
    height: 600px;
}

#artvis{
    height: 500px;
}

.bars {
    fill: #DEA7B8;
}

.tooltip-artvis {
    position: absolute;
    text-align: center;
    width: 260px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border-radius: 8px;
    /*  pointer-events: none;	This line needs to be removed */
}

.tooltip-artvis img{
    width:230px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;

}

/*<<<<<<< HEAD*/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
/*.slider.round {*/
/*    border-radius: 34px;*/
/*}*/

/*.slider.round:before {*/
/*    border-radius: 50%;*/
/*}*/
/*=======*/
/* Vertical Navigation Bar */

#cd-vertical-nav a {
    color: #000;
    text-decoration: none;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cd-nav-trigger {
    display: none;
}

#cd-vertical-nav {
    position: fixed;
    left:40px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}
#cd-vertical-nav li {
    text-align: left;

}
#cd-vertical-nav a {
    display: inline-block;
    /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}
#cd-vertical-nav a {
    display: inline-block;
    /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}
#cd-vertical-nav a:after {
    content: "";
    display: table;
    clear: both;
}
#cd-vertical-nav a span {
    float: left;
    display: inline-block;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
}
#cd-vertical-nav a:hover span {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity :0.8;
}
#cd-vertical-nav a:hover .cd-label {
    opacity: 1;
    z-index: 0;
}
#cd-vertical-nav a.is-selected .cd-dot {
    background-color: black;
    opacity: 1;
}
.cd-dot {
    position: relative;
    /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
    top: 8px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #51CAEA;
    -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
    -moz-transition: -moz-transform 0.2s, background-color 0.5s;
    transition: transform 0.2s, background-color 0.5s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    opacity: 0.4;
}

#cd-vertical-nav .cd-label {
    position: relative;
    color: #51CAEA;
    font-size: 21px;
    padding-top: 10px;
    padding-left: 12px;
    line-height: 6px ;
    font-size: 0.875rem;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    opacity: 0;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    z-index:0;
}

.cd-scroll-down {
    position: absolute;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 20px;
    width: 38px;
    height: 44px;
    /*background: url("../img/cd-arrow-bottom.svg") no-repeat center center;*/
}
